body {
  background-color: #1f2838;
  color: #b3a69f;
  padding: 40px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold; 
  line-height: 1; 
}

.App{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav{
  list-style-type: none;
  width: 500;
  display: flex;
  justify-content: space-evenly;
}

.home{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}